@import url('./index.css');
@import url('./tailwind.css');

@font-face {
  font-family: 'Inter';
  src: url('@/assets/font/inter.woff2') format('woff2');
}

:root {
  --secondary: #6b7280;
}

.text-secondary {
  color: var(--secondary);
}

.font-sans {
  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

body {
  background: #fff;
}

::-webkit-scrollbar {
  background-color: transparent;
  border: 0;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  width: 8px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  width: 8px;
  background-color: transparent;
}
