html {
  font-size: 16px;
}

body {
  background: #fff;
}

.dark body {
  background: #212121;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #3f3f46;
}

.dark ::-webkit-scrollbar-track {
  background-color: #212121;
}
